## Imports

In [112]:
import pandas as pd

### Import Changi data

In [113]:
changi = pd.read_csv('data/Changi_Traffic.csv', sep=',')

### Import Japan data

In [114]:
japan = pd.read_csv('data/Japan_Airports.csv', sep=',')

### Import Worldwide data

In [115]:
worldwide = pd.read_csv('data/Traffic - Worldwide_Ranking.csv', sep=',')

### Import Airports data

In [116]:
column_names = [
    "Airport_ID",            
    "Name",                   
    "City",                   
    "Country",                
    "IATA",                   
    "ICAO",                   
    "Latitude",               
    "Longitude",              
    "Altitude",               
    "Timezone",               
    "DST",                    
    "Tz_database_time_zone", 
    "Type",                   
    "Source"                  
]

airports = pd.read_csv("data/airports.dat.txt", header=None, names=column_names)

## Process data

### Remove NaN values

In [117]:
# Remove NaN in changi dataframe
changi.dropna(inplace=True)

# Remove NaN in japan dataframe
japan.dropna(inplace=True)

### Changi Process

#### Rename the column in Changi to indicate that it contains data related to the number of passengers

In [118]:
changi.rename(columns={'Unnamed: 1' : 'Number of Passengers (in Millions)'})

             Month Number of Passengers (in Millions)
0     January 2024                              5 430
1    February 2024                              5 350
2       March 2024                              5 730
3       April 2024                              5 400
4         May 2024                              5 480
5        June 2024                              5 620
6        July 2024                              5 700
7      August 2024                              5 730
8   September 2024                              5 400
9     October 2024                              5 650
10   November 2024                              5 740
11   December 2024                              6 410
12    January 2025                              6 160
13   February 2025                              5 440

### Worldwide Process

#### Rename all the columns

In [119]:
worldwide.columns = ['Rank', 'Airport_Name', 'Location', 'Country', 'Code', 'Number_of_Passengers', 'Rank_Change', '%_Change']

#### Remove useless columns

In [120]:
worldwide.drop(columns=['Code', 'Rank_Change', '%_Change'], inplace=True)

#### Clean the column Number_of_Passengers

#### Remove the number between []

In [121]:
# Remove the [] and the number inside
worldwide['Number_of_Passengers'] = worldwide['Number_of_Passengers'].str.replace(r'\[\d+\]', '', regex=True)

#### Change the format of the cell to print Number in M instead of the number

In [122]:
# Remove the thousands separator , 
worldwide['Number_of_Passengers'] = worldwide['Number_of_Passengers'].str.replace(',', '').astype(int)

In [123]:
# Convert to millions
worldwide['Number_of_Passengers'] = worldwide['Number_of_Passengers'].apply(lambda x: f"{x / 1_000_000:.2f}M")

#### Merge worldwide and airports to get the Latitude information and the Longitude information

In [124]:
# Get all the airports that have the same name between airports and worldwide dataframes
# len(set(airports['Name']).intersection(set(worldwide['Airport_Name'])))

In [125]:
# Get all the airports that have different names between airports and worldwide dataframes
# set(worldwide['Airport_Name']).difference(set(airports['Name']))

In [126]:
# Check for each airport name
# airports[airports['Name'].str.contains('Reid')]

In [127]:
# Create a mapping table with on the left the airports names in the airports dataframe that need to be changed, and the equivalence in worldwide
mapping_airports = {
    'Charles de Gaulle International Airport' : 'Charles de Gaulle Airport', 
    'Chengdu Shuangliu International Airport' : 'Chengdu Tianfu International Airport', 
    'Chhatrapati Shivaji International Airport' : 'Chhatrapati Shivaji Maharaj International Airport', 
    'Frankfurt am Main Airport' : 'Frankfurt Airport',
    'George Bush Intercontinental Houston Airport' : 'George Bush Intercontinental Airport',
    'Hartsfield Jackson Atlanta International Airport' : 'Hartsfield–Jackson Atlanta International Airport',
    'London Heathrow Airport' : 'Heathrow Airport', 
    'John F Kennedy International Airport' : 'John F. Kennedy International Airport',
    'Barcelona International Airport' : 'Josep Tarradellas Barcelona–El Prat Airport',
    "Chicago O'Hare International Airport" : "O'Hare International Airport",
    'Roma Airport' : 'Rome Fiumicino Airport',
    'Seattle Tacoma International Airport' : 'Seattle–Tacoma International Airport',
    'Incheon International Airport' : 'Seoul Incheon International Airport',
    'Soekarno-Hatta International Airport' : 'Soekarno–Hatta International Airport',
    'Tokyo Haneda International Airport' : 'Tokyo Haneda Airport',
    'Lester B. Pearson International Airport' : 'Toronto Pearson International Airport', 
    'McCarran International Airport' : 'Harry Reid International Airport',
    'Licenciado Benito Juarez International Airport' :  'Mexico City International Airport'
}

In [128]:
# Replace the values included in the mapping table by their equivalent
airports['Name'] = airports['Name'].replace(mapping_airports)

In [129]:
airports.head()

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [130]:
# Rename Airport_Name from worldwide to match with airports Name
worldwide.rename(columns={'Airport_Name' : 'Name'}, inplace=True)

# Merge worldwide and airports on the column Name
world_airports = pd.merge(worldwide, airports, how='left', on='Name')

### Keep only the relevant columns

In [131]:
# Create a list of columns to keep
to_keep = ['Rank', 'Name', 'City', 'Country_x', 'Number_of_Passengers', 'Latitude', 'Longitude']

# Keep the columns included in this list
world_airports = world_airports[to_keep]

# Rename the column Country_x into Country
world_airports.rename(columns={'Country_x' : 'Country'}, inplace=True)

## Export

### world_airports dataframe

In [135]:
world_airports

,Rank,Name,City,Country,Number_of_Passengers,Latitude,Longitude
0,1,Hartsfield–Jackson Atlanta International Airport,Atlanta,United States,108.07M,33.636700,-84.428101
1,2,Dubai International Airport,Dubai,United Arab Emirates,92.30M,25.252800,55.364399
2,3,Dallas Fort Worth International Airport,Dallas-Fort Worth,United States,87.82M,32.896801,-97.038002
3,4,Tokyo Haneda Airport,Tokyo,Japan,85.00M,35.552299,139.779999
4,5,Heathrow Airport,London,United Kingdom,83.88M,51.470600,-0.461941
5,6,Denver International Airport,Denver,United States,82.36M,39.861698,-104.672997
6,7,O'Hare International Airport,Chicago,United States,80.04M,41.978600,-87.904800
7,8,Istanbul Airport,Istanbul,Turkey,79.99M,41.275278,28.751944
8,9,Indira Gandhi International Airport,Delhi,India,77.82M,28.566500,77.103104
9,10,Shanghai Pudong International Airport,Shanghai,China,76.79M,31.143400,121.805000
10,11,Los Angeles International Airport,Los Angeles,United States,76.59M,33.942501,-118.407997
11,12,Guangzhou Baiyun International Airport,Guangzhou,China,76.36M,23.392401,113.299004
12,13,Seoul Incheon International Airport,Seoul,South Korea,70.67M,37.469101,126.450996
13,14,Charles de Gaulle Airport,Paris,France,70.29M,49.012798,2.550000
14,15,Singapore Changi Airport,Singapore,Singapore,67.70M,1.350190,103.994003
15,16,Beijing Capital International Airport,Beijing,China,67.37M,40.080101,116.584999
16,17,Amsterdam Airport Schiphol,Amsterdam,Netherlands,66.83M,52.308601,4.763890
17,18,Adolfo Suárez Madrid–Barajas Airport,Madrid,Spain,66.20M,40.471926,-3.562640
18,19,John F. Kennedy International Airport,New York,United States,63.27M,40.639801,-73.778900
19,20,Shenzhen Bao'an International Airport,Shenzhen,China,61.48M,22.639299,113.810997
20,21,Suvarnabhumi Airport,Bangkok,Thailand,60.00M,13.681100,100.747002
21,22,Frankfurt Airport,Frankfurt,Germany,59.36M,50.033333,8.570556
22,23,Charlotte Douglas International Airport,Charlotte,United States,58.81M,35.214001,-80.943100
23,24,Harry Reid International Airport,Las Vegas,United States,58.45M,36.080101,-115.152000
24,25,Orlando International Airport,Orlando,United States,57.21M,28.429399,-81.308998
25,26,Kuala Lumpur International Airport,Kuala Lumpur,Malaysia,57.04M,2.745580,101.709999
26,27,Miami International Airport,Miami,United States,55.93M,25.793200,-80.290604
27,28,Josep Tarradellas Barcelona–El Prat Airport,Barcelona,Spain,55.03M,41.297100,2.078460
28,29,Chengdu Tianfu International Airport,Chengdu,China,54.91M,30.578501,103.946999
29,30,Soekarno–Hatta International Airport,Jakarta,Indonesia,54.81M,-6.125570,106.655998
30,31,Chhatrapati Shivaji Maharaj International Airport,Mumbai,India,54.80M,19.088699,72.867897
31,32,Hong Kong International Airport,Hong Kong,Hong Kong,53.10M,22.308901,113.915001
32,33,Hamad International Airport,Doha,Qatar,52.70M,25.273056,51.608056
33,34,Seattle–Tacoma International Airport,Seattle,United States,52.64M,47.449001,-122.308998
34,35,Phoenix Sky Harbor International Airport,Phoenix,United States,52.33M,33.434299,-112.012001
35,36,San Francisco International Airport,San Francisco,United States,52.29M,37.618999,-122.375000
36,37,Ninoy Aquino International Airport,Manila,Philippines,50.10M,14.508600,121.019997
37,38,Beijing Daxing International Airport,Beijing,China,49.44M,39.509945,116.410920
38,39,Rome Fiumicino Airport,Roma,Italy,49.20M,-26.545000,148.774994
39,40,King Abdulaziz International Airport,Jeddah,Saudi Arabia,49.10M,21.679600,39.156502
40,41,Newark Liberty International Airport,Newark,United States,48.85M,40.692501,-74.168701
41,42,Chongqing Jiangbei International Airport,Chongqing,China,48.68M,29.719200,106.641998
42,43,George Bush Intercontinental Airport,Houston,United States,48.45M,29.984400,-95.341400
43,44,Hangzhou Xiaoshan International Airport,Hangzhou,China,48.05M,30.229500,120.433998
44,45,Shanghai Hongqiao International Airport,Shanghai,China,47.94M,31.197901,121.335999
45,46,Kunming Changshui International Airport,Kunming,China,47.18M,25.101944,102.929167
46,47,Xi'an Xianyang International Airport,Xi'an,China,47.03M,34.447102,108.751999
47,48,Toronto Pearson International Airport,Toronto,Canada,46.80M,43.677200,-79.630600
48,49,El Dorado International Airport,Bogota,Colombia,45.82M,4.701590,-74.146900
49,50,Mexico City International Airport,Mexico City,Mexico,45.36M,19.436300,-99.072098

In [ ]:
world_airports.to_csv('world_airports.csv')